/* Import better css first */
@import url(./normalize.css);

/* Get custom font */
@font-face {
    font-family: piracy;
    src: url(../assets/brand/TradeWinds-Regular.ttf);
}

:root {
    min-width: 300px;
    scroll-behavior:smooth;

    /* Text Colours*/
    --text-primary: black;
    --text-secondary: white;

    /* Theme Colours */
    --theme-colour-primary: rgb(217,179,104);
    --theme-colour-secondary: rgb(173, 73, 47);

    /* Gaps */
    --default-padding: 0.5rem;
    --default-gap: 0.7rem;

    /* Decorations */
    --default-shadow: 0px 0px 5px rgba(0,0,0,1);
    --default-text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.7);

    /* Animations */
    --default-transtion: transform .2s;
    --default-hover-shadow: 0px 5px 5px rgba(0,0,0,.5);
    --default-hover-translate: 0px, -10px;

    /* Logo/Navbar */
    --logo-width:3.5rem;
    --logo-bias:-10rem;

    /* Highlight */
    --highlight-height: 10rem;
    --highlight-padding: 2rem;
    --highlight-image:url(../assets/project_images/project_deluxe.png);
    --highlight-logo-width: 20rem;
    --highlight-gap: 2rem;

    /* Profile */
    --profile-min-width: 10rem;

    /* Cards */
    --card-min-width: 20rem;
}

div {
    /* padding: var(--default-padding); */
    transition: var(--default-transtion); 
    z-index: 0;
    margin: 0%;
    padding: 0%;
}
a {
    text-decoration: none;
}

/* Text */
.title {
    color: var(--text-secondary);

    font-family: piracy;
    font-size: 2.4rem;

    margin: 0%;
}
.heading {
    text-wrap: nowrap;

    font-family: piracy;
    font-size: 2rem;

    text-shadow: var(--default-text-shadow);

    margin: 0%;    
}
.subheading {
    font-family: arial;
    font-size: 2rem;
}
.text {
    font-family: piracy;
    font-size: 1rem;

    text-shadow: var(--default-text-shadow);

    margin: 0%;  

    text-align: center;
}

/* Utility */
.row {
    display: flex; 
    flex-wrap: wrap; 
    gap:var(--default-gap);

    align-items: center;
    justify-items: center;
}
.col {
    display: flex;
    flex-wrap: nowrap;
    gap:var(--default-gap);

    flex-direction: column;

    align-items: center;
    justify-items: center;
}
.spacer {
    flex:1;
}
.section {
    padding: var(--default-padding);
    width:80%;
}
.clickable {
    box-shadow: var(--default-shadow);
}
.clickable:hover {
    transform: translate(var(--default-hover-translate));
    z-index: 2;

    box-shadow: var(--default-hover-shadow);
}

/* Page */
.void {
    background-color:var(--theme-colour-secondary);
}

/* Navbar */
.navbar {
    position: sticky; 
    top: 0;
    z-index: 3;

    background-image: url(../assets/brand/banner.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    filter: drop-shadow(5px 5px 5px #222);

    padding: var(--default-padding);

    flex-direction: row;
    align-content: center;
    justify-content: space-between;   

    margin-bottom: -2rem;
}
.logo {
    width: var(--logo-width);
    margin-top: -5px;
}

/* Highlight */
.highlight {
    /* height:100vw; */
    max-height: 60vh;

    background-image:var(--highlight-image); 
    background-size:cover;
    background-position: center;

    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */

    /* padding: 20px; */
    padding-bottom: 4rem;
    padding-top: 4rem;
    gap:var(--default-gap);
}
.highlight-logo {
    /* TODO: Make this cleaner */
    width: 100%;
    max-width: 40rem;
    /* min-width: 200px; */
    max-height: 50rem;
}
.divider {
    background-image: url(../assets/highlight/divider.png);
    background-repeat: repeat;
    background-size: auto 100%;

    justify-self: flex-start;

    padding: 0%;
    margin: auto;

    width: 100%;
    height:2rem;
    overflow: hidden;

    filter: drop-shadow(5px 5px 5px #222);
 
    margin-top: -1rem;
}

/* Body */
.content {
    background-image: url(../assets/brand/bg_spread.png); 
    background-size: cover;
    background-position: center;

    z-index: -1;
}

/* Profile Pic */
.profile {
    width: 100%;
    min-width: var(--profile-min-width);
}

/* Cards */
.card {
    flex: 1;

    background-color: beige;
    padding: var(--default-padding);
}
.card-image {
    width: 100%; 
    min-width: var(--card-min-width);
}


/* Small view */
@media screen and (max-width: 540px) {

    /* Navbar display to col */
    .navbar {
        flex-direction: column;
    }

    .spacer {
        flex:0;
    }
}

@media (prefers-color-scheme: light) {

}