/* Import better css first */
@import url(./normalize.css);

/* Get custom font */
@font-face {
    font-family: piracy;
    src: url(../assets/brand/TradeWinds-Regular.ttf);
}

:root {
    /* font-size: 20px; */
    min-width: 300px;

	/* Layout */
    --default-border: none;
    --default-border-colour: red;

    --default-padding: 0.5rem;
    --default-gap: 0.5rem;

    /* Text Colours*/
    --text-primary: black;

    /* Theme Colours */
    --theme-primary: white;

    /* Decorations */
    --default-shadow: 0px 0px 5px rgba(0,0,0,.5);
    --default-shadow-hover: 0px 5px 5px rgba(0,0,0,.5);
    --default-text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.7);

    /* Logo/Navbar */
    --logo-width:3rem;

    /* Highlight */
    --highlight-height: 10rem;
    --highlight-padding: 2rem;
    --highlight-image:url(../assets/project_images/project_deluxe.png);
    --highlight-logo-width: 20rem;
    --highlight-gap: 2rem;

    /* Cards */
    --card-min-width: 20rem;
    
    /* Animations */
    scroll-behavior:smooth;
    --default-transtion: transform .2s;
    --card-hover-translate: 0px, -10px;
    --link-hover-scale: 2;
}

div {
    border-color: var(--default-border-colour);
    border-style: var(--default-border);
    /* padding: var(--default-padding); */
    transition: var(--default-transtion); 
    z-index: 0;
}

/* Text */
.title {
    font-family: piracy;
    margin: 0%;
    text-shadow: var(--default-text-shadow);
}

/* Images */


/* Defaults */
.container {
    display: flex; 
    flex-wrap: wrap; 
    gap:var(--default-gap);
}
.section {
    padding: var(--default-padding);
}

/* Unique Stylings */
.void {
    background-color: rgb(222,189, 124);
}
.navbar {
    position: sticky; 
    top: 0;
    z-index: 3;

    background-color: var(--theme-primary);
    box-shadow: var(--default-shadow);

    padding: var(--default-padding);

    flex-direction: row;
    align-content: center;
    justify-content: space-between;   
}
.logo {
    width: var(--logo-width)
}

.highlight {
    min-height: var(--highlight-height);

    background-image:var(--highlight-image); 
    background-size:cover;
    background-position: center;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    padding: var(--highlight-padding);
    gap:var(--highlight-gap);
}
.highlight-logo {
    width:100%;
    max-width: var(--highlight-logo-width);
    align-self: center;
}
.highlight-link {
    height: fit-content;
    width: fit-content;
    align-self: flex-end;
}


.content {
    background-image: url(../assets/brand/bg_spread.png); 
    background-size: cover;
    background-position: center;

    z-index: -1;
}
/* About me */
.spacer {
    flex: 1;
}
.profile {
    max-width: 80%;  
    flex-direction: row; 
    align-content: center; 
    justify-content: center; 
    flex-wrap: wrap;
}
.profile-image {
    flex-direction: column; 
    flex:2;
}
.profile-text {
    
}


/* Cards */
.card {
    flex: 1; 
}
.card-image {
    width: 100%; 
    min-width: var(--card-min-width);
}


.clickable {
    box-shadow: var(--default-shadow);
}
.clickable:hover {
    transform: translate(var(--card-hover-translate));
    z-index: 2;

    box-shadow: var(--default-shadow-hover);
}

/* Small view */
@media screen and (max-width: 540px) {
    /* Navbar display to col */
    .navbar {
        flex-direction: column;
    }

    .highlight {
        flex-direction: column;
    }
    .highlight-link {
        align-self: center;
    }

    .spacer {
        flex:0;
    }
    .profile {
        flex-direction: column;
    }
    .profile-text {

    }
}
